@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}