doctype html
html(lang="en")
	head
		title Landing Page
		link(rel="stylesheet" type="text/css" href="public/css/initialPage.css")
		include head.pug
	body
		.form__container
			form.form(action="" method="post")
				p.form__title Main Page
				.button.form__submitButton--container
					button.form__submitButton--left(type="button" onclick="changePageLogin();") Access account
					button.form__submitButton--right(type="button" onclick="changePageSignUp();") Create account
		script.
			function changePageLogin(){
				window.location.href = './login';
			}
			function changePageSignUp(){
				window.location.href = './signup';
			}
		script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
