<div class="form__container">
	<form class="form" action="/login" method="POST">
		<p class="form__title">LOGIN</p>
		<p class="form__inputLabel">EMAIL ADDRESS</p>
		<div class="input form__input--container">
			<input class="form__input" id="inputEmail" type="text" name="emailInput" placeholder="Email@domain.com" maxlength="50" required=""><span class="clearContainer"><i class="fas fa-times" id="clear" onclick="clearButton();"></i></span>
		</div>
		<p class="form__inputLabel">PASSWORD</p>
		<div class="input form__input--container">
			<input class="form__input" id="inputPassword" type="password" name="passwordInput" placeholder="Password" maxlength="30" required=""><span class="eyeContainer"><i class="far fa-eye" id="eye-show" onclick="eyeButton();"></i><i class="far fa-eye-slash" id="eye-hide" onclick="eyeButton();"></i></span>
		</div>
		<div class="form__whitespace"></div>
		<p class="form__validation--login">The account and password combination is incorrect. Please, try again.</p>
		<div class="form__whitespace"></div>
		<div class="button form__submitButton--container">
			<button class="form__submitButton" type="submit">Access your account</button>
		</div>
	</form>
</div>
<script src="public/js/dom.js"></script>