doctype html
html(lang="en")
	head
		title Login Form
		link(rel="stylesheet" href="public/css/style.css")
		include head.pug
	body
		.form__container
			form.form(action="/login" method="POST")
				p.form__title LOGIN
				p.form__inputLabel EMAIL ADDRESS
				.input.form__input--container
					input#inputEmail.form__input(type="text" placeholder="Email@domain.com" required="")
					span.clearContainer
						i#clear.fas.fa-times(onclick="clearButton();")
				p.form__inputLabel PASSWORD
				.input.form__input--container
					input#inputPassword.form__input(type="password" placeholder="Password" maxlength="30" required="")
					span.eyeContainer
						i#eye-show.far.fa-eye(onclick="eyeButton();")
						i#eye-hide.far.fa-eye-slash(onclick="eyeButton();")
				.form__whitespace
				p.form__validation--login The account and password combination is incorrect. Please, try again.
				.form__whitespace
				.button.form__submitButton--container
					button.form__submitButton(type="button") Access your account
		script(src="public/js/alerts.js")
		script(src="public/js/dom.js")
		script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
