doctype html
html(lang="en")
	head
		title Sign Up Form
		link(rel="stylesheet" href="public/css/style.css")
		include head.pug
	body
		.form__container
			form.form(action="" method="post")
				p.form__title SIGN UP
				p.form__inputLabel EMAIL ADDRESS
				.input.form__input--container
					input#inputEmail.form__input(type="text" placeholder="Email@domain.com" maxlength="50" required="")
					span.clearContainer
						i#clear.fas.fa-times(onclick="clearButton();")
				p.form__validation--noCircle The email is already in use.
				p.form__inputLabel PASSWORD
				.input.form__input--container
					input#inputPassword.form__input(type="password" placeholder="Password" maxlength="30" required="")
					span.eyeContainer
						i#eye-show.far.fa-eye(onclick="eyeButton();")
						i#eye-hide.far.fa-eye-slash(onclick="eyeButton();")
				p.form__validation--first At least 8 characters in the password field.
				p.form__validation--second Include at least 1 number.
				p.form__validation--third At least use 1 capital letter and 1 lower case letter.
				p.form__validation--fourth Include at least 1 symbol (ex: # ? ! @ $ € % & * - + . , )
				.button.form__submitButton--container
					button.form__submitButton(type="button" onclick="checkPassword();") Create account
		script(src="public/js/alerts.js")
		script(src="public/js/dom.js")
		script(src="public/js/signUpValidation.js")
		script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
